footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient( 85.2deg,  rgba(33,3,40,1) 7.5%, rgba(65,5,72,1) 88.7% );
    padding: 20px;
}

.left-container{
    height:200px;
    width:250px;
    display: flex;
   justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.left-container>p{
    margin:5px;
}

.left-container>span{
    font-size: 30px;
    color:#fff;
    font-weight: 400;
}
.middle-container{
    height:200px;
    width:250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding:10px;
}

.middle-container>a{
    text-decoration: none;
    color:white;
    cursor: pointer;
    position: relative;
    
}

.middle-container>a::after{
    content: '';
    position: absolute;
    left:0;
    bottom:0px;
    height: 2px;
    background-color: #fff;
    width:0;
    transition: 0.5s ease-in-out;
}

.middle-container>a:hover::after{
    width:100%;
}
.right-container{
    height:200px;
    width:250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right-container>span{
    font-size:20px;
    font-weight: 400;
    color:#fff;
}


.sociel-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    margin:10px;
}

.sociel-links>i{
    font-size:28px;
    color:#fff;
    transition: 0.5s;
    cursor:pointer;
}
.sociel-links>i:hover{
    transform: translateY(-8px);
    color:yellow;
}

.footer-bottom{
    width:100%;
    text-align: center;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    box-shadow: 6px 6px 10px -6px rgba(0,0,0,0.6),-6px -6px 10px -6px rgba(0,0,0,0.4),
    inset 6px 6px 10px -10px rgba(0,0,0,0.6),
    inset 6px 6px 10px -15px rgba(0,0,0,0.4) ;
    border-radius: 4px;
}